[Desktop Entry]
Categories=Network;InstantMessaging;Qt;
Comment=Official desktop version of Telegram messaging app
Comment[ru_RU]=Official desktop version of Telegram messaging app
Exec=/usr/bin/telegram-desktop -- %u
GenericName=
GenericName[ru_RU]=
Icon=telegram
MimeType=
Name=Telegram T1
Name[ru_RU]=Telegram T1
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=TelegramDesktop
Terminal=false
TerminalOptions=
TryExec=/usr/bin/telegram-desktop
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-Desktop-File-Install-Version=0.23
X-KDE-SubstituteUID=false
X-KDE-Username=